<app-menu></app-menu>
<div class="detail-container">
    <div *ngFor="let carro of carrosLista" class="car-detail">
        <div class="content">
            <div class="icons-and-carmodel">
                <h3>Modelo: {{ carro.modelo }}</h3>
                <div class="icons">
                    <img *ngIf="!isFavorite" (click)="favorite()" id="empty-hrt" src="../../assets/coracao-empty.png">
                    <img *ngIf="isFavorite" (click)="unfavorite()" id="full-hrt" src="../../assets/coracao-full.png">
                </div>
            </div>
            <img [src]="carro.imagem">
            <p>Valor da diária: R$ {{ carro.precoPorDia | dotToComma }}</p>
            <p>Ano: {{ carro.ano | dateTransform }}</p>
            <p>Tipo: {{ carro.tipoDoModelo }}</p>
            <p>Descrição do veículo: {{ carro.descricao }}</p>
            <div class="rent-btn">
                <button>Alugar</button>
            </div>
            
        </div>
    </div>
</div>
<app-footer></app-footer>